@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 17.571px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.linha{
    height: 1px;
    width: 30%;
    background-color: #04D9D8;
    margin-bottom: 2%;
}
.linhacentro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.rodapeInfo{
    display: flex;
    flex-direction:row ;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    img{
        height: 40px;
    }
    p{
        margin-left: 10px;
    }
}